<tr>
    <td>
        <input class="item_small" type="text" name="name" placeholder="name"></input>
    </td>
    <td>
        <input class="item_small" type="number" step="any" name="value" placeholder="value"></input>
    </td>
    <td>
        <input class="item_small" type="text" name="unit" placeholder="unit"></input>
    </td>
    <td>
        <input class="item_small" type="text" name="source" placeholder="source"></input>
    </td>

    <td><button class="item_small" type="button">Add</button> </td>
    <td></td>
</tr>
