<tr entry-id="{{entry.id}}">
    <td>
        <div class="item_small name">
            {{entry.name}}
        </div>
    </td>
    <td>
        <div class="item_small value">
            {{entry.value}}
        </div>
    </td>
    <td>
        <div class="item_small unit">
            {{entry.unit}}
        </div>
    </td>
    <td>
        <div class="item_small source">
            {{entry.source}}
        </div>
    </td>
    <td>
        <button class="item_small edit" type="button">
            Edit
        </button>
    </td>
    <td>
        <button class="item_small delete" type="button">
            -
        </button>
    </td>
</tr>
