@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("root.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: var(--shadow);
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--lg);
    padding: var(--xlg) var(--xxlg);
    width: 40vw;
    margin: var(--xlg) 0;
}

h1,h2 {
    color: var(--off-black);
}

input, textarea {
    border: 1px solid var(--purple);
    outline-color: var(--purple);
    padding: var(--sm);
}


button {
    background-color: var(--purple);
    color: var(--off-white);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}

button:hover {
    background-color: hsl(335, 89%, 40%);
}

.visible {
    visibility: visible;
    transform: scale(1);
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    form {
        width: 75vw;
    }
}

@media screen and (max-width: 480px) {
    main {
        justify-content: flex-start;
        margin: var(--lg) 0;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    button {
        padding: var(--sm) 0;
    }
}
