@import url("/static/css/root.css");

.tag-input-container {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    column-gap: var(--lg);
    row-gap: var(--sm);
}

.tag {
    background-color: var(--purple);
    border-radius: 10px;
    color: var(--off-white);
    font-size: var(--md);
    margin-bottom: var(--sm);
    margin-right: var(--sm);
    padding: var(--xs) var(--sm);
}

.remove-tag {
    cursor: pointer;
    margin-left: 5px;
}
