<fieldset>
    <div class="item_container_large">
        <label class="item_small">layers</label>
        <button class="item_small" type="button">+</button>
        <table class="item_large">
            <tr>
                <th>name</td>
                <th>thickness</td>
                <th>orientation</td>
                <th></td>
            </tr>
            <tr>
                <td>
                    <input class="item_small" type="text" name="layers[1][name]" placeholder="name"></input>
                </td>
                <td>
                    <input class="item_small" type="text" name="layers[1][thickness]" placeholder="thickness"></input>
                </td>
                <td>
                    <input class="item_small" type="text" name="layers[1][orientation]" placeholder="orientation"></input>
                </td>
                <td><button class="item_small" type="button">-</button> </td>
            </tr>
        </table>
        <button class="item_small" type="button">+</button>
    </div>
</fieldset>
